html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Bubbler One', sans-serif;
	transition: all 1s ease-out;
	background-color: #9D2D28;
}

*, *:after, *:before {
	box-sizing: border-box;
}


a {
	text-decoration: none;	
}

