
.title {
	text-align: center;
	font-size: 4rem;
	font-weight: 300;
	letter-spacing: .2rem;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
	position: absolute;
	max-width: 900px;
	height: auto;
	margin-top: 4rem;
	margin-left: auto;
	margin-right: auto;
	left: 0;  /* center positioning for absolute element */
	right: 0;
}

.container {
	position: relative;
	border-radius: 2rem;
	display: block;
	margin: 12% auto;
	font-size: 3rem;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: .1rem;
	padding: 4rem;
	min-height: 400px;
	width: 940px; 
    height: auto;
}

.quote__author {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.4rem;
}