
.container {
	position: relative;
	border-radius: 2rem;
	display: block;
	margin: 12% auto;
	font-size: 3rem;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: .1rem;
	padding: 4rem;
	min-height: 400px;
	width: 940px; 
    height: auto;
}

.quote__author {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2.4rem;
}